@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
 
.blurBar{
  backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
height: 60px;
}

 

@media only screen and (max-width: 600px) {
  .folioImg{
    /* border-radius: 100%; */
    /* padding: 0; */
    /* border: 14px solid #fff; */
    width: 200px;
    height: 200px;
    /* box-shadow: 0 20px 40px rgb(0 0 0 / 30%), 0 20px 40px hsl(0deg 0% 100% / 15%); */
}
}